* {
    padding: 0px;
    margin: 0px;
}

header, main, footer, nav, section {
    display: block;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    padding-top: 50px;
    /* height: 100%; */
    /* min-height: 1000px; */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f7f6f6;
    height: 50px;
    display: flex;
    /* margin-bottom: 50px; */
    z-index: 999;
}

#logo {
    position: absolute;
    display: block;
    background-image: url(../images/logo.png);
    width: 95px;
    height: 46px;
    background-size: cover;
    background-repeat: no-repeat;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

#wrapper {
    width: 340px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

h1 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 5px auto;
}

.btnClickable {
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.dropDown {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.dropDownToggle {
    background-color: #ebebeb;
    color: #444444;
}

.headerIcon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-color: transparent;
    border-style: none;
    align-self: center;
    margin-right: 5px;
}

.noti {
    background-image: url(../images/notifications_active_icon.png);
}

.search {
    background-image: url(../images/search_icon.png);
}

.profile {
    display: block;
    background-repeat: no-repeat;
    text-indent: 40px;
    margin-bottom: 10px;
}

.avatar {
    background-image: url(../images/userID1.png);
    min-width: 30px;
    height: 30px;
    line-height: 30px;
}

.homeList {
    /* height: 31px; */
    line-height: 31px;
    text-indent: 40px;
}

.rectangle {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 100px;
    background-color: white;
    display: block;
    margin-bottom: 10px;
}

.preview {
    height: 170px;
    margin-top: 10px;
}

.rowContainer {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
}

.ham {
    background-image: url(../images/hamburger.png);
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #f7f6f6;
    z-index: 800;
}

footer nav {
    width: 100%;
    height: 40px;
    align-self: center;
}

footer ul {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

footer li {
    width: 100%;
    display: flex;
    align-content: center;
}

footer a {
    position: relative;
    display: block;
    margin: auto 0;
    background-color: transparent;
    width: 100%;
    height: 32px;
    border-style: none;
    background-position: top;
    background-repeat: no-repeat;
    color: #929292;
}

footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    font-size: 8px;
    text-align: center;
}

footer .selected {
    background-color: #ebebeb;
    color: black;
}

footer .selected>a {
    color: black;
}

.home-bg {
    background-image: url(../images/home_bg.png);
}

.homeButton {
    background-image: url(../images/home_icon.png);
}
.roomsButton {
    background-image: url(../images/rooms_icon.png);
}
.devicesButton {
    background-image: url(../images/devices_icon.png);
}
.automationButton {
    background-image: url(../images/automation_icon.png);
}
.homeButton-gray {
    background-image: url(../images/home_icon_gray.png);
}
.roomsButton-gray {
    background-image: url(../images/rooms_icon_gray.png);
}
.devicesButton-gray {
    background-image: url(../images/devices_icon_gray.png);
}
.automationButton-gray {
    background-image: url(../images/automation_icon_gray.png);
}

.btn-primary:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
    text-decoration: underline;
}

.btn-primary:active:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

.clearToggle:active:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

.menu hr {
    margin-right: 10%;
}

main hr {
    display: block;
    width: 340px;
}

.menu a {
    font-size: 18px;
    font-weight: bold;
}

.bader:hover {
    background-color: white;
}

.carousel {
    margin-top: 10px;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-inner {
    margin-bottom: 30px;
    color: black;
}

.carousel>button {
    background-color: #f7f6f6bd;
}

.shortcut {
    display: flex;
    /* width: 30%; */
    width: 105px;
    /* background-color: white; */
    flex-flow: column;
    position: relative;
}

.shortcut>span {
    display: block;
    align-self: center;
    margin-top: 5px;
    height: 20px;
    background-repeat: no-repeat;
}

.gridBtn {
    background-image: url(../images/grid_icon.png);
    position: absolute;
    top: 5px;
    left: 20px;
    /* float: left; */
}

.listBtn {
    background-image: url(../images/list_icon.png);
    position: absolute;
    top: 5px;
    left: 20px;
    /* float: left; */
}

.toolsBtn {
    background-image: url(../images/dots.png);
    position: absolute;
    top: 5px;
    right: 20px;
    /* float: right; */
}

.star {
    position: absolute;
    top: 2px;
    left: 2px;
}

.star-full {
    background-image: url(../images/full_star_icon.png);
}

.star-empty {
    background-image: url(../images/star_icon.png);
}

.vac-sm {
    background-image: url(../images/vaccum_sm.png);
}

.temp-sm {
    background-image: url(../images/temp_sm.png);
}

.sun-sm {
    background-image: url(../images/sun_sm.png);
}

.shield-sm {
    background-image: url(../images/shield_sm.png);
}

.sun-bg {
    background-image: url(../images/sun_bg.png);
}

.shield-bg {
    background-image: url(../images/shield_bg.png);
}

.tv-sm {
    background-image: url(../images/tv_sm.png);
}

.ac-sm {
    background-image: url(../images/ac_bg.png);
}

.shortcut>h5 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.shortcut>div {
    margin-left: 5px;
    text-indent: 15px;
}

.shortcut>div>span {
    display: block;
    text-align: left;
    font-size: 10px;
    background-repeat: no-repeat;
    margin-top: 2px
}

.time-sm {
    background-image: url(../images/time_sm.png);
}

.location-sm {
    background-image: url(../images/location_sm.png);
}

.carousel-item {
    padding: 2px;
}
.selector {
    margin-bottom: 10px;
    width: 200px;
}

.home {
    background-image: url(../images/homes_icon.png);
    background-repeat: no-repeat;
    text-indent: 40px;
    font-size: 18px;
    font-weight: bold;
    height: 24px;
    background-color: transparent;
    border-style: none;
    color: black;
    padding: 0;
}

.myhome {
    background-image: url(../images/full_home_icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    color: black;
}

#mediaSection>iframe{
    border-radius: 10px;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
    top: 5px;
    right: 5px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.addplace {
    background-image: url(../images/full_plus_icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    color: black;
}

.member {
    background-image: url(../images/members_icon.png);
}

.history {
    background-image: url(../images/history_icon.png);
}

.functionalButton {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    border-style: none;
    background-color: transparent;
    background-position: center;
}

.clear {
    clear: both;
}

.nextBtn {
    background-image: url(../images/next_icon.png);
}

.previousBtn {
    background-image: url(../images/previous_icon.png);
}

.nextVertical {
    background-image: url(../images/next_vertical.png);
}

.previousVertical {
    background-image: url(../images/previous_vertical.png);
}

.minusBtn {
    background-image: url(../images/minus_icon.png);
}

.plusBtn {
    background-image: url(../images/plus_icon.png);
}

.centered {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sideButtons {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 40px;
    /* width: 100%;
    height: 100%; */
    right: 5px;
    top: 30px;
}

#menuToggle {
    width: 30px;
    height: 30px;
    /* width: 300px;
    height: 100vh; */
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    text-decoration: underline;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 24px;
    height: 4px;
    margin-bottom: 2px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

/* 
 .abs{
    position: absolute;
    top: 15px;
    left: 15px;
} */

#menuBurger {
    /* height: 100vh; */
    height: 100vh;
    width: 300px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    margin: -35px 0 0 -15px;
    /* padding: 50px; */
    padding-top: 60px;
    background: white;
    border-right: solid 1px #ebebeb;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    overflow: auto;
    /* display: flex;
    flex-wrap: wrap;
    align-content: flex-start; */
}

#menuBurger>li {
    width: 100%;
}

/* #menuBurger>hr {
    display: block;
    width: 100%;
} */

.help-setting {
    width: 100%;
    height: 40px;
    /* display: flex; */
    /* height: auto; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* display:flex;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* align-content:flex-end ; */
    background-color: red;
}

.setting {
    background-image: url(../images/settings_icon.png);
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    /* align-self: flex-end;
    justify-self: flex-start; */
}

.help {
    background-image: url(../images/full_help_icon.png);
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-indent: 30px;
    line-height: 24px;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

.menu button, .menu .btn-secondary:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

.clearToggle {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

/*
 * And let's slide it in from the left
 */

#menuToggle input:checked~ul {
    transform: none;
}

#navBurger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.noor {
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.sectionContainer {
    width: 100%;
    max-width: 340px;
}

#navDesktop {
    display: none;
}

.listContaier {
    /* display: flex; */
    /* flex-flow: wrap; */
    margin-top: 10px;
    width: 100%;
    min-width: 300px;
}

.listItems {
    display: flex;
    flex-flow: wrap;
    margin-top: 10px;
}

/* obj version */

.infoSection {
    font-weight: bold;
}

.infoSection span {
    display: block;
}

.infoSection ul {
    margin-top: 10px;
}

.infoSection ul li {
    margin-top: 5px;
}

.battery {
    background-image: url(../images/battery_icon.png);
    background-repeat: no-repeat;
    min-width: 24px;
    height: 24px;
    line-height: 30px;
    text-indent: 25px;
}

.cont {
    background-image: url(../images/disc_icon.png);
    background-repeat: no-repeat;
    min-width: 24px;
    height: 24px;
    line-height: 30px;
    text-indent: 25px;
    background-position: 4px;
}

.location {
    background-image: url(../images/location-md.png);
    background-repeat: no-repeat;
    min-width: 24px;
    height: 24px;
    line-height: 30px;
    text-indent: 25px;
}

.edit {
    background-image: url(../images/edit_icon.png);
}

#objectMain .plusBtn {
    float: right;
}

#objectMain .edit {
    float: right;
}

#objectMain h4 {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#objectMain {
    font-weight: bold;
}

.checkboxList {
    margin-left: 40px
}

.buttonautomation {
    /* background-color: #04AA6D; */
    border: none;
    /* padding: 10px; */
    text-align: center;
    text-decoration: none;
    /* display: block; */
    color: #7a7a7a;
    text-indent: -5px;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 4px;
}

.buttonweek {
    border-radius: 50%;
    width: 20px;
}

.listItem {
    position: relative;
}

.listItem>span {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.listItem>h5 {
    display: block;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 18px;
    font-weight: bold;
}

.listItem>div {
    display: block;
    position: absolute;
    top: 45px;
    left: 100px;
    font-size: 18px;
    font-weight: bold;
}

.listItem>div span {
    display: block;
    text-align: left;
    font-size: 12px;
    text-indent: 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    margin-top: 2px;
    color: #7a7a7a;
}

.volume>.form-range {
    width: 140px;
    position: absolute;
    top: -3px;
    left: 20px
}

#devicesList .sideButtons {
    left: auto;
    top: 30px;
}

.temp-md {
    background-image: url(../images/temp_md.png);
    text-indent: 15px;
    height: 20px;
    /* background-position-x: -5px; */
}

.livingroom-bg {
    background-image: url(../images/livingroom_big_icon.png);
}

.kitchen-bg {
    background-image: url(../images/kitchen_big_icon.png);
}

.bedroom-bg {
    background-image: url(../images/bedroom_big_icon.png);
}

.bedroom-bg {
    background-image: url(../images/bathroom_big_icon.png);
}

.tv-bg {
    background-image: url(../images/tv_bg.png);
}

.ac-bg {
    background-image: url(../images/ac_bg.png);
}

.lights-upside-bg {
    background-image: url(../images/light_upside_bg.png);
}

.vac-bg {
    background-image: url(../images/vaccum_bg.png);
}

.battery-md {
    background-image: url(../images/battery_md_icon.png);
}

.time-md {
    background-image: url(../images/time_md.png);
}

.disc-md {
    background-image: url(../images/disc_md_icon.png);
}

.speakers-bg {
    background-image: url(../images/speakers_bg_icon.png);
}

.remote-md {
    background-image: url(../images/remote_md_icon.png);
}

.speakers-md {
    background-image: url(../images/speakers_md_icon.png);
    display: inline;
    min-width: 14px;
    min-height: 15px;
}

#devicesList .star {
    left: auto;
    right: 40px;
}

.addDevice {
    width: 340px;
    height: 405px;
    margin: 0 auto;
}

.addDevice h2 {
    font-weight: bold;
    text-align: center;
}

.addDevice h6 {
    font-weight: bold;
    margin-top: 10px;
}

.vertical-line-1 {
    width: 1px;
    height: 40px;
    border-color: #b31e1e;
    border-width: 1px;
    border-style: solid;
    display: block;
    background-color: red;
}

.submite-cancel {
    display: flex;
    /* margin: 0 auto; */
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
    /* margin-left: 10px ; */
}

.ac-buttons {
    margin-top: -5px;
}

.ac-buttons>button {
    border: solid 1px #7a7a7a;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 9px;
    ;
    background-position: center;
    background-size: 9px 9px;
    background-repeat: no-repeat;
}

.ac-night {
    background-image: url(../images/ac_night.png);
}

.ac-clock {
    background-image: url(../images/ac_clock.png);
}

.ac-hot {
    background-image: url(../images/ac_hot.png);
}

.ac-cold {
    background-image: url(../images/ac_cold.png);
}

.ac-water {
    background-image: url(../images/ac_water.png);
}

.ac-cycle {
    background-image: url(../images/ac_cycle.png);
}
.automationShortcut{
    display: none;;
}
@media screen and (max-width: 800px) {
    #automationSection a>span {
        margin-top: 15px;
        margin-bottom: 5px;
        width: 24px;
        height: 24px;
    }
    #automationSection a>h5 {
        font-size: 18px;
    }
    .sectionContainer .shortcut:first-child, .sectionContainer .shortcut:nth-child(2) {
        margin-right: 12.5px;
    }
    .listContaier {
        width: 300px;
        margin: 0 auto;
    }
    .shortcut:not(#automation .shortcut)>span:first-child {
        width: 20px;
        background-size: 20px 20px;
    }
    .shortcut>span:first-child {
        width: 24px;
        background-size: 24px 24px;
    }
}

@media screen and (min-width: 800px) {
    #wrapper {
        width: 800px;
    }
    main hr {
        display: none;
    }
    #previewSection {
        float: left;
    }
    #frequentlySection {
        float: left;
    }
    #favoriteSection {
        float: right;
        /* margin-left: 70px; */
    }
    #automationSection {
        float: right;
        /* margin-left: 70px; */
    }
    .rowContainer {
        flex-wrap: wrap;
    }
    .shortcut {
        width: 300px;
    }
    .listItem {
        margin-right: 20px;
    }
    .shortcut>span {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 10px;
        left: 10px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
    .shortcut>h5 {
        display: block;
        position: absolute;
        top: 20px;
        left: 100px;
        font-size: 18px;
        font-weight: bold;
    }
    .shortcut>div:nth-child(3) {
        display: block;
        position: absolute;
        top: 45px;
        left: 100px;
        font-size: 18px;
        font-weight: bold;
    }
    .shortcut>div span {
        display: block;
        text-align: left;
        font-size: 12px;
        text-indent: 20px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        margin-top: 2px;
        color: #7a7a7a;
    }
    .automationShortcut
    {
        display: block;
    }
}

@media screen and (min-width: 1300px) {
    body {
        padding-bottom: 0;
    }
    .content {
        height: 100%;
        display: flex;
    }
    #wrapper {
        width: 1000px;
    }
    header {
        border-bottom: solid 1px #ebebeb;
    }
    #navBuger, #menuToggle {
        display: none;
    }
    #navDesktop {
        position: sticky;
        top: 0;
        left: 0;
        display: block;
        width: 300px;
        height: 94vh;
        min-height: 750px;
        background-color: #f7f6f6;
        border-right: solid 1px #ebebeb;
        z-index: 1000;
        /* overflow: auto; */
    }
    .menu {
        height: 100%;
    }
    footer {
        display: none;
    }
}