* {
    padding: 0px;
    margin: 0px;
}

header, main, footer, nav, section {
    display: block;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    padding-top: 50px;
    position: relative;
    height: 100%;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f7f6f6;
    height: 50px;
    display: flex;
    z-index: 990;
}

.content {
    height: 100%;
}

#logo {
    position: absolute;
    display: block;
    background-image: url(../images/logo.png);
    width: 95px;
    height: 46px;
    background-size: cover;
    background-repeat: no-repeat;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

#wrapper {
    width: 340px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    min-height: 50vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

h1 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 5px auto;
}

.btnClickable {
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.dropDown {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.dropDownToggle {
    background-color: #ebebeb;
    color: #444444;
}

.headerIcon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-color: transparent;
    border-style: none;
    align-self: center;
    margin-right: 5px;
}

.noti {
    background-image: url(../images/notifications_active_icon.png);
}

.search {
    background-image: url(../images/search_icon.png);
}

.profile {
    display: block;
    background-repeat: no-repeat;
    text-indent: 40px;
    margin-bottom: 10px;
}

.avatar {
    display: inline-block;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: transparent;
}

.homeList {
    line-height: 31px;
    text-indent: 40px;
}

.rectangle {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 100px;
    background-color: white;
    display: block;
    margin-bottom: 10px;
}

.panel {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    background-color: white;
    display: block;
    margin-bottom: 15px;
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.panel ul {
    margin: 0;
}

.preview {
    height: 170px;
    margin-top: 10px;
}

.rowContainer {
    display: flex;
    width: 100%;
}

.ham {
    background-image: url(../images/hamburger.png);
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #f7f6f6;
    z-index: 800;
}

footer nav {
    width: 100%;
    height: 40px;
    align-self: center;
}

footer ul {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

footer li {
    width: 100%;
    display: flex;
    align-content: center;
}

footer a {
    position: relative;
    display: block;
    margin: auto 0;
    background-color: transparent;
    width: 100%;
    height: 32px;
    border-style: none;
    background-position: top;
    background-repeat: no-repeat;
    color: #929292;
}

footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    font-size: 8px;
    text-align: center;
}

footer .selected {
    background-color: #ebebeb;
    color: black;
}

footer .selected>a {
    color: black;
}

.home-bg {
    background-image: url(../images/home_bg.png);
}

.homeButton {
    background-image: url(../images/home_icon.png);
}

.roomsButton {
    background-image: url(../images/rooms_icon.png);
}

.devicesButton {
    background-image: url(../images/devices_icon.png);
}

.automationButton {
    background-image: url(../images/automation_icon.png);
}

.homeButton-gray {
    background-image: url(../images/home_icon_gray.png);
}

.roomsButton-gray {
    background-image: url(../images/rooms_icon_gray.png);
}

.devicesButton-gray {
    background-image: url(../images/devices_icon_gray.png);
}

.automationButton-gray {
    background-image: url(../images/automation_icon_gray.png);
}

.btn-primary:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
    text-decoration: underline;
}

.btn-primary:active:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

.clearToggle:active:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

main {
    height: 100%;
    min-height: 90vh;
}

.menu hr {
    margin-right: 10%;
}

main hr {
    display: block;
    width: 340px;
}

.menu a {
    font-size: 18px;
    font-weight: bold;
}

.carousel {
    margin-top: 10px;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-inner {
    margin-bottom: 30px;
    color: black;
}

.carousel>button {
    background-color: #f7f6f6bd;
}

.shortcut {
    display: flex;
    width: 105px;
    flex-flow: column;
    position: relative;
}

.shortcut>span {
    display: block;
    align-self: center;
    margin-top: 5px;
    height: 20px;
    background-repeat: no-repeat;
}

.gridBtn {
    background-image: url(../images/grid_icon.png);
    position: absolute;
    top: 5px;
    left: 20px;
}

.listBtn {
    background-image: url(../images/list_icon.png);
    position: absolute;
    top: 5px;
    left: 20px;
}

.toolsBtn {
    background-image: url(../images/dots.png);
    position: absolute;
    top: 5px;
    right: 20px;
    background-size: 24px 24px;
}

.star {
    position: absolute;
    top: 2px;
    left: 2px;
}

.star-full {
    background-image: url(../images/full_star_icon.png);
}

.star-empty {
    background-image: url(../images/star_icon.png);
}

.vac-sm {
    background-image: url(../images/vaccum_sm.png);
}

.temp-sm {
    background-image: url(../images/temp_sm.png);
}

.sun-sm {
    background-image: url(../images/sun_sm.png);
}

.shield-sm {
    background-image: url(../images/shield_sm.png);
}

.sun-bg {
    background-image: url(../images/sun_bg.png);
}

.shield-bg {
    background-image: url(../images/shield_bg.png);
}

.tv-sm {
    background-image: url(../images/tv_sm.png);
    width: 20px;
    height: 20px;
}

.ac-sm {
    background-image: url(../images/ac_bg.png);
}

.shortcut>h5 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.shortcut>div {
    margin-left: 5px;
    text-indent: 15px;
}

.shortcut>div>span {
    display: block;
    text-align: left;
    font-size: 10px;
    background-repeat: no-repeat;
    margin-top: 2px
}

.time-sm {
    background-image: url(../images/time_sm.png);
}

.location-sm {
    background-image: url(../images/location_sm.png);
}

.carousel-item {
    padding: 2px;
}

.selector {
    margin-bottom: 10px;
    width: 200px;
}

.small-hr {
    width: 80%;
    margin: 5px auto;
}

.home {
    background-image: url(../images/homes_icon.png);
    background-repeat: no-repeat;
    text-indent: 40px;
    font-size: 18px;
    font-weight: bold;
    height: 24px;
    background-color: transparent;
    border-style: none;
    color: black;
    padding: 0;
}

.clearToggle:focus {
    background-color: transparent;
    border: none;
    color: black;
    box-shadow: none;
}

.myhome {
    background-image: url(../images/full_home_icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    color: black;
}

.media>iframe {
    border-radius: 10px;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
    top: 5px;
    right: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.addplace {
    background-image: url(../images/full_plus_icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    color: black;
}

.member {
    background-image: url(../images/members_icon.png);
}

.history {
    background-image: url(../images/history_icon.png);
}

.functionalButton {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    border-style: none;
    background-color: transparent;
    background-position: center;
}

.clear {
    clear: both;
}

.autosection iframe {
    margin-left: -30px;
}

.nextBtn {
    background-image: url(../images/next_icon.png);
}

.previousBtn {
    background-image: url(../images/previous_icon.png);
}

.nextVertical {
    background-image: url(../images/next_vertical.png);
}

.previousVertical {
    background-image: url(../images/previous_vertical.png);
}

.minusBtn {
    background-image: url(../images/minus_icon.png);
}

.plusBtn {
    background-image: url(../images/plus_icon.png);
}

.centered {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sideButtons {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 40px;
    right: 5px;
    top: 30px;
}

#menuToggle {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    text-decoration: underline;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 24px;
    height: 4px;
    margin-bottom: 2px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menuBurger {
    height: 100%;
    min-height: 100vh;
    width: 300px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    margin: -35px 0 0 -15px;
    padding-top: 60px;
    background: white;
    border-right: solid 1px #ebebeb;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    overflow: auto;
}

#menuBurger h6 {
    position: absolute;
    bottom: 8px;
    left: 25%;
    font-size: 16px;
}

#menuBurger>li {
    width: 100%;
}

.help-setting {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: red;
}

.setting {
    background-image: url(../images/settings_icon.png);
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.help {
    background-image: url(../images/full_help_icon.png);
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-indent: 30px;
    line-height: 24px;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

.menu button, .menu .btn-secondary:focus {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

.clearToggle {
    background-color: transparent;
    color: black;
    border-style: none;
    box-shadow: none;
}

#menuToggle input:checked~ul {
    transform: none;
}

#navBurger {
    display: block;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sectionContainer {
    width: 100%;
    max-width: 340px;
}

.listContaier {
    margin-top: 10px;
    width: 100%;
    min-width: 300px;
}

.listItems {
    display: flex;
    flex-flow: wrap;
    margin-top: 10px;
}

.infoSection {
    font-weight: bold;
}

.infoSection ul {
    margin-top: 10px;
}

.infoSection ul li {
    margin-top: 5px;
}

.battery {
    background-image: url(../images/battery_icon.png);
    background-repeat: no-repeat;
    min-width: 24px;
    height: 24px;
    line-height: 30px;
    text-indent: 25px;
}

.cont {
    background-image: url(../images/disc_icon.png);
    background-repeat: no-repeat;
    min-width: 24px;
    height: 24px;
    line-height: 30px;
    text-indent: 25px;
    background-position: 4px;
}

.location {
    background-image: url(../images/location-md.png);
    background-repeat: no-repeat;
    min-width: 24px;
    height: 24px;
    line-height: 30px;
    text-indent: 25px;
}

.edit {
    background-image: url(../images/edit_icon.png);
}

.trash {
    background-image: url(../images/delete_icon.png);
}

#objectMain .plusBtn {
    float: right;
}

#objectMain .edit {
    float: right;
}

#objectMain h4 {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#objectMain {
    font-weight: bold;
}

.checkboxList {
    margin-left: 40px
}

.buttonautomation {
    border: none;
    text-align: center;
    text-decoration: none;
    color: #7a7a7a;
    text-indent: -5px;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 4px;
}

.buttonweek {
    border-radius: 50%;
    width: 20px;
}

.listItem {
    position: relative;
}

.listItem>span {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.listItem>img {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.listItem>h5 {
    display: block;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 18px;
    font-weight: bold;
}

.listItem>div {
    display: block;
    position: absolute;
    top: 45px;
    left: 100px;
    font-size: 18px;
    font-weight: bold;
}

.listItem>div span {
    display: block;
    text-align: left;
    font-size: 12px;
    text-indent: 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    margin-top: 2px;
    color: #7a7a7a;
}

#rooms .listItem>div span {
    margin-bottom: 0;
}

.volume>input {
    width: 140px;
    position: absolute;
    top: -3px;
    left: 20px
}

#devicesList .sideButtons {
    left: auto;
    top: 30px;
}

.temp-md {
    background-image: url(../images/temp_md.png);
    text-indent: 15px;
    height: 20px;
}

.temp-bg {
    background-image: url(../images/temp_bg.png);
    height: 24px;
}

.livingroom-bg {
    background-image: url(../images/livingroom_big_icon.png);
}

.room-bg {
    background-image: url(../images/door.png);
}

.member-picture {
    border-radius: 50%;
}

.kitchen-bg {
    background-image: url(../images/kitchen_big_icon.png);
}

.bedroom-bg {
    background-image: url(../images/bedroom_big_icon.png);
}

.bathroom-bg {
    background-image: url(../images/bathroom_big_icon.png);
}

.tv-bg {
    background-image: url(../images/smart-tv.png);
}

.ac-bg {
    background-image: url(../images/air-conditioner.png);
}

.lights-upside-bg {
    background-image: url(../images/smart-light.png);
}

.vac-bg {
    background-image: url(../images/robot-vacuum.png);
}

.battery-md {
    background-image: url(../images/battery_md_icon.png);
}

.time-md {
    background-image: url(../images/time_md.png);
}

.disc-md {
    background-image: url(../images/disc_md_icon.png);
}

.speakers-bg {
    background-image: url(../images/smart-speaker.png);
}

.volume-bg {
    background-image: url(../images/volume-bg.png);
}

.remote-md {
    background-image: url(../images/remote_md_icon.png);
}

.remote-bg {
    background-image: url(../images/remote_bg.png);
}

.speakers-md {
    background-image: url(../images/speakers_md_icon.png);
    min-width: 14px;
    min-height: 15px;
}

.icons {
    background-repeat: no-repeat;
    min-width: 24px;
    height: 24px;
    line-height: 22px;
    text-indent: 25px;
}

#objectMain .sideButtons {
    height: 70px;
    top: 50px;
}

#devicesList .star, #objectMain .star {
    left: auto;
    right: 40px;
}

.listItem .trash {
    position: absolute;
    top: 2px;
    right: 65px;
    background-size: 20px 20px;
}

.listItem .trash {
    position: absolute;
    top: 2px;
    right: 65px;
    background-size: 20px 20px;
    display: none;
    z-index: 5;
}

.listItem .edit {
    position: absolute;
    top: 2px;
    right: 65px;
    background-size: 20px 20px;
    display: none;
    z-index: 5;
}

#memberMain .listItem .edit, #memberMain .listItem .trash {
    right: 5px;
}

.formBox {
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: solid 2px;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 5;
    display: none;
}

.rounded-circle {
    width: 150px;
    height: 150px;
}

#formBlur {
    z-index: 4;
}

#addDevice h2 {
    font-weight: bold;
    text-align: center;
}

#addDevice h6 {
    font-weight: bold;
    margin-top: 10px;
}

.vertical-line-1 {
    width: 1px;
    height: 40px;
    border-color: #ebebeb;
    border-width: 1px;
    border-style: solid;
    display: block;
    background-color: #ebebeb;
}

.submite-cancel {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.ac-buttons {
    margin-top: -5px;
}

.ac-buttons>button {
    border: solid 1px #7a7a7a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.ac-night {
    background-image: url(../images/ac_night.png);
}

.ac-clock {
    background-image: url(../images/ac_clock.png);
}

.ac-hot {
    background-image: url(../images/ac_hot.png);
}

.ac-cold {
    background-image: url(../images/ac_cold.png);
}

.ac-water {
    background-image: url(../images/ac_water.png);
}

.ac-cycle {
    background-image: url(../images/ac_cycle.png);
}

.automationShortcut {
    display: none;
    ;
}

#breadNav {
    display: none;
    position: absolute;
    top: 10px;
    font-size: 14px;
}

#breadNav a:hover {
    text-decoration: underline;
}

.headerIcon:hover {
    background-color: transparent;
}

.screenBlur {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 60%;
    z-index: 1;
}

#collapsibleTools {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 24px;
    height: 24px;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    border: solid 2px;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 3;
}

#toolsContent {
    padding: 0;
    width: 24px;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    z-index: 2;
}

#toolsContent>li:first-child {
    height: 6px;
}

.objectControls {
    padding-left: 0;
}

.objectControls li .ac-buttons>button {
    margin-right: 13px;
    width: 24px;
    height: 24px;
    background-size: 15px 15px;
}

.objectControls li {
    margin-bottom: 10px;
}

.objectControls input {
    width: 50%;
}

.objectControls input[type="number"] {
    width: 35px;
    text-align: center;
}

.clearRec {
    position: relative;
    background-color: transparent;
    max-width: 100%;
    height: auto;
}

.clearRec>.star {
    left: auto;
    right: 40px;
}

.clearRec>div>span {
    display: block;
    background-size: 18px 18px;
    font-size: 16px;
    text-indent: 25px;
    background-repeat: no-repeat;
}

.clearRec>div>input[type=range] {
    width: 80%;
    margin: 0 10%;
}

.information {
    background-image: url(../images/information.png);
}

#loginPage {
    position: relative;
}

.bg-img {
    background: url("../images/bg2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#loginPage header {
    background: transparent;
}

#loginPage #logo {
    background-image: url(../images/logo-white.png);
}

#loginPage .content {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 100%;
    max-width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

#loginPage .content h1 {
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Montserrat", sans-serif;
}

#loginPage .field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

#loginPage .field span {
    color: #222;
    width: 40px;
    line-height: 45px;
}

#loginPage .field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.space {
    margin-top: 16px;
}

#loginPage .show {
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

#loginPage .pass-key:valid~.show {
    display: block;
}

.pass {
    text-align: left;
    margin: 10px 0;
}

.pass a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

#loginPage .pass:hover a {
    text-decoration: underline;
}

#loginPage .field input[type="submit"] {
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

#loginPage .field input[type="submit"]:hover {
    background: #2691d9;
}

.login {
    color: white;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}

#loginPage i span {
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.signup {
    font-size: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
}

.signup a {
    color: #3498db;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

#profileMain hr {
    width: auto;
}

.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    #automationSection a>span {
        margin-top: 15px;
        margin-bottom: 5px;
        width: 24px;
        height: 24px;
    }
    #automationSection a>h5 {
        font-size: 18px;
    }
    .sectionContainer .shortcut:first-child, .sectionContainer .shortcut:nth-child(2) {
        margin-right: 12.5px;
    }
    .listContaier {
        width: 300px;
        margin: 0 auto;
    }
    .shortcut:not(#automation .shortcut)>span:first-child {
        width: 20px;
        background-size: 20px 20px;
    }
    .shortcut>span:first-child {
        width: 24px;
        background-size: 24px 24px;
    }
    .shortcut>div input {
        width: 70%;
    }
}

@media screen and (min-width: 800px) {
    #wrapper {
        width: 800px;
    }
    main:not(#objectMain, #profileMain) hr {
        display: none;
        width: 100%;
    }
    .clear {
        display: block;
    }
    #previewSection {
        float: left;
    }
    #frequentlySection {
        float: left;
        height: 407px;
    }
    #frequent {
        height: 334px;
    }
    #favoriteSection {
        float: right;
        height: 407px;
    }
    #favorite {
        height: 334px;
    }
    #automationSection {
        float: right;
        height: 407px;
    }
    #automation {
        height: 334px;
    }
    .rowContainer {
        flex-wrap: wrap;
    }
    .shortcut {
        width: 300px;
    }
    .listItem {
        margin-right: 20px;
    }
    .shortcut>span {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 10px;
        left: 10px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
    .shortcut>h5 {
        display: block;
        position: absolute;
        top: 20px;
        left: 100px;
        font-size: 18px;
        font-weight: bold;
    }
    .shortcut>div:nth-child(3) {
        display: block;
        position: absolute;
        top: 45px;
        left: 100px;
        font-size: 18px;
        font-weight: bold;
    }
    .shortcut>div span {
        display: block;
        text-align: left;
        font-size: 12px;
        text-indent: 20px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        margin-top: 2px;
        color: #7a7a7a;
    }
    .shortcut .star {
        left: auto;
        right: 40px;
    }
    .automationShortcut {
        display: block;
    }
    .gridBtn {
        left: auto;
        right: 60px;
    }
    .listBtn {
        left: auto;
        right: 60px
    }
}

@media screen and (min-width: 1300px) {
    body {
        padding-bottom: 0;
    }
    .content:not(#loginPage .content) {
        height: 100%;
        display: flex;
        padding-left: 300px;
    }
    #wrapper {
        width: 1000px;
        opacity: 1;
    }
    header:not(#loginPage header) {
        border-bottom: solid 1px #ebebeb;
    }
    #menuBurger {
        top: 35px;
        left: 15px;
        transform: translate(0%, 0);
    }
    #menuToggle {
        position: unset;
    }
    #menuToggle>span, #menuToggle>input {
        display: none;
    }
    .menu {
        height: 100%;
    }
    footer {
        display: none;
    }
    #burgerBlur {
        display: none !important;
    }
    #breadNav {
        display: block;
    }
}